NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key_here
SUPABASE_JWT_SECRET=your_supabase_jwt_secret_here
SUBWAY_SESSION_SECRET=your_subway_session_secret_here
